<h2>Welcome</h2>
<%if(currentUser){%>
  <p>Hello , <%=currentUser.teamName%></p>
<%}%>
<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">

    </div>
    <div class="carousel-item blue-grey white-text" href="#one!">
      <h2>Keep Score with Your Friends</h2>
      <img src="/images/keeping-score.jpg">
      <p class="white-text"></p>
    </div>
    <div class="carousel-item blue-grey white-text" href="#two!">
      <h2>Add and Edit your Matches</h2>
      <img src="/images/score1.jpg">
      <p class="white-text"></p>
    </div>
    <div class="carousel-item blue-grey white-text" href="#three!">
      <h2>Check out your Stats</h2>
      <img src="/images/stats.jpg">
      <p class="white-text"></p>
    </div>

  </div>
